﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body onload="window.print()">
    <div> 
        <center>Программное обеспечение для сервисных центров.</center>
    </div>
</body>
</html>
