﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <style>
        table {
            width: 100%; /* Ширина таблицы */
            border: 1px solid black; /* Рамка вокруг таблицы */
            border-collapse: collapse; /* Отображать только одинарные линии */
            table-layout: fixed; /* Ячейки фиксированной ширины */
        }

        .table_header {
            text-align: left; /* Выравнивание по левому краю */
            background: #ccc; /* Цвет фона ячеек */
            padding: 5px; /* Поля вокруг содержимого ячеек */
            border: 1px solid black; /* Граница вокруг ячеек */
            font-size: 12px;
        }

        td {
            padding: 5px; /* Поля вокруг содержимого ячеек */
            border: 1px solid black; /* Граница вокруг ячеек */
            font-size: 12px;
        }
    </style>

    @Html.Raw(ViewData["Style1"])

</head>
<body onload="window.print()">
    <div>
        @Html.Raw(ViewData["Error"])

        @Html.Raw(ViewData["ReportHtml"])
    </div>
</body>
</html>
