﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>

    <link href="~/Scripts/login/css/reset.css" rel="stylesheet" />
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href="~/Scripts/login/css/style.css" rel="stylesheet" />

    <base href="/">
</head>
<body>


    @RenderBody()

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js?var=4'></script>
    <script src="~/Scripts/login/js/index.js?var=2"></script>

</body>
</html>