﻿body {
    padding:10px 20px;
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}
#loading-mask {
    position: absolute;
    left:     0;
    top:      0;
    width:    100%;
    height:   100%;
    z-index:  20000;
    background-color: white;
}

#loading {
    position: absolute;
    left:     50%;
    top:      50%;
    padding:  0px;
    z-index:  20001;
    height:   auto;
    margin:   -35px 0 0 -130px;
}

#loading .loading-indicator {
    background: url(../images/loader.gif) no-repeat;
    color:      #555;
    font:       bold 15px tahoma,arial,helvetica;
    padding:    8px 42px;
    margin:     0;
    text-align: center;
    height:     auto;
}