﻿@{
    Layout = "~/Views/_Shared/_LayoutIndex.cshtml";
}

<script>
    var varType = "";
</script>

<!-- Variables -->
<script src="~/Content/other/Variables/Variables.js"></script>
<!-- Object: Показать Объекты -->
<script src="~/Content/other/Object/ObjectConfig.js"></script>
<script src="~/Content/other/Object/ObjectEditConfig.js"></script>
<script src="~/Content/other/Object/ObjectReportConfig.js"></script>
<script src="~/Content/other/Object/ObjectShow.js"></script>
<script src="~/Content/other/Object/ObjectShow_NotCentral.js"></script>

<!-- App -->
<script type="text/javascript" src="~/Content/app/app.js"></script>

<!-- Google Maps API 
<script src="http://maps.google.com/maps/api/js?key=AIzaSyA97vl0Wb6pSxG0s9Vjt8ZRc7c7ne3ODVY"></script>
<script src="~/Scripts/sklad/jsDesktop6/packages/ux/classic/src/GMapPanel.js"></script>
-->
